@media screen and (max-width: 991px) {
    
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }



    header{

    .navbar{
        padding-top: 19px;
        padding-bottom: 17px;
    }
    .navbar-nav{
        text-align: center;
        padding: 34px 0 28px;
}

    .nav-link{
        font-size: 24px;
        line-height: 200%;
        text-align: center;
        color: #fff;
    }

    .navbar-collapse{
        background-color: #363a4d;
        margin: 0 -20px 0;
        padding: 0 40px;
        transition: 1s;
        transform: translate(0, 15px);
        text-align: center;
    }

    .btn{
        
        justify-content: center;
        margin: 0 auto 60px;
        width: 100%;
        padding: 22px 26.7px;
        letter-spacing: 0.6px;
        max-width: 295px;
    }

    }
 
    .first-screen{
        text-align: center;

        &-title{
            font-size: 32px;
            max-width: 295px;
            margin: 0 auto 10px;
        }
  
        &-subtitle{
            font-size: 16px;
            margin: 0 auto 18px;
            max-width: 277px;
        }

        .btn-lg{

        }

        .slick-list{
            margin: 0 -20px;
            border-radius: 0%
        }
        .slick-slide{
            border-radius: 0%;
            height: calc(100vh - 72px);
            padding: 26vh 0 228px;
        }
    }

}