@media screen and (max-width: 767px) {
    .about-us{
        .container{
            position: relative;

            .template-title {
                text-align: center;
            }
            
            .about-us-description{
                display: flex;
                margin: auto;
            }
            &:after {
                content: "";
                position: absolute;
                right: 17%;
                bottom: -65%;
                
                width: 300px;
                height: 80%;
                background: url(../assets/img/notebook.png) left bottom/contain no-repeat;
                
            }
        }
       
    }

    footer{

        .col-md-3{
            text-align: center;
        }
        
            .mobile-none{
                display: none;
            }  
        }
        
    
}

