@media screen and (max-width: 1570px) {
    .calculation .container:after {
        right: 0px;
    }
}

@media screen and (max-width: 1400px) {
    .slider-template {
        margin: 0 auto;
        width: 780px;
        .slick-arrow{
            &.slick-next{
                right: -80px;
            }
            &.slick-prev{
                left: -80px;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .about-us{
        .container{
            position: relative;

            .template-title {
                text-align: center;
                &:after {
                    position: absolute;
                    left: 50%;
                }
            }
            
            .about-us-description{
                display: flex;
                margin: auto;
            }
            &:after {
                content: "";
                position: absolute;
                right: 17%;
                bottom: -60%;
                
                width: 40%;
                height: 80%;
                background: url(../assets/img/notebook.png) left bottom/contain no-repeat;
                
            }
        }
       
    }
}
