<section class="first-screen container-xxl">

    <div class="first-screen-slider">
        <div style="background-image: url(assets/img/first-screen-1.jpg);">
            <div class="container">
                <div class="first-screen-title">Прямое КАРГО из Китая</div>
                <div class="first-screen-subtitle">Доставляем любые грузы по выгодной цене</div>
                <button>Расчитать стоимость</button>
            </div>    
        </div>
        <div>2-slide</div>
        <div>3-slide</div>
        <div>4-slide</div>
        <div>5-slide</div>
    </div>
   
</section>