<section class="first-screen container-xxl">

    <div class="first-screen-slider">
        <div style="background-image: url(assets/img/first-screen-1.jpg);">
            <div class="container">
                <div class="first-screen-title">Прямое КАРГО из Китая</div>
                <div class="first-screen-subtitle">Доставляем любые грузы по выгодной цене</div>
                <button type="button" class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>    
        </div>

        <div style="background-image: url(assets/img/first-screen-2.jpg);">
            <div class="container">
                <div class="first-screen-title">Выкуп товара с Таобао, 1688</div>
                <div class="first-screen-subtitle">Выкуп и доставка товара с китайских торговых площадок</div>
                <button type="button" class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>    
        </div>

        <div style="background-image: url(assets/img/first-screen-3.jpg);">
            <div class="container">
                <div class="first-screen-title">Экспрес авто доставка</div>
                <div class="first-screen-subtitle">Доставка автотранспортом из Китая в Украину от 15 дней, от $0,5/кг</div>
                <button type="button" class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>    
        </div>

        <div style="background-image: url(assets/img/first-screen-4.jpg);">
            <div class="container">
                <div class="first-screen-title">Прямое КАРГО из Китая</div>
                <div class="first-screen-subtitle">Доставляем любые грузы по выгодной цене</div>
                <button type="button" class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>    
        </div>
        
    </div>

    <div class="arrows">
            
    </div>
   
</section>