<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="assets/img/logo-sm.svg" alt="Logo">
				<div class="f-text">
					<p>Lorpsum dolor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum dolor t.</p>
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum door sit.</p>	
				</div>
				
			</div>
			<div class="col-md-3 mobile-none">
				<h4>Грузоперевозки</h4>
				<div class="f-text">
					<p>Lorem ipslor sit.</p>
					<p>Lorem ipslor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
				</div>
			</div>
			<div class="col-md-3 mobile-none">
				<h4>Услуги</h4>
				<div class="f-text">
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
					
				</div>
			</div>
			<div class="col-md-3 mobile-none">
				<h4>Информация</h4>
				<div class="f-text">
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem im dolor sit.</p>
					<p>Lorem ipsum dolor sit.</p>
					<p>Lorem ipsum dor sit.</p>
					
					<p>Lorem ipsum dolor sit.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="markup.html" class="markup">markup</a>
<script src="assets/js/jquery-3.7.0.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>